* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6B1;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: min(90%, 600px);
    background-color: #14213D;
    margin: 20px auto;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #FCA311;
}

.question-section h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.choices-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.choices-section button {
    padding: 18px;
    border-radius: 12px;
    border: none;
    transition: 0.2s;
}

.choices-section button:hover {
    transform: scale(1.02);
    background-color: #CCCCCC;
    cursor: pointer;
}

.choices-section button:active {
    transform: scale(0.98);
    background-color: white;
    color: black;
}

.progress-section {
    margin-top: 30px;
    text-align: center;
    font-size: 0.95rem;
    color: white;
}
