* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FCF6B1;
}

.quiz-header {
  text-align: center;
  padding: 20px 0;
  background: purple;
  color: white;
}

.quiz-header h1 {
  font-size: 2rem;
  font-weight: 600;
}

.quiz-container {
    width: min(90%, 600px);
    background-color: gray;
    margin: 20px auto;
}

